/** General Styles **/

body {
	margin: .7em;
}

h1 + p {
	color: darkgrey;
	font-style: italic;
}

/** Collapsible Styles **/

#accord_first[type="radio"],
#accord_second[type="radio"],
#accord_third[type="radio"],
#accord_fourth[type="radio"] {
	display: none;
}

.accordion {
	list-style: none;
	max-width: 24em;
}

.accordion li {
	border: 1px solid black;
	border-bottom: none;
	padding: 1em;
}

#accord_first + li {
	height: 0;
	overflow: hidden;
	transition: all .5s ease;
	padding: 0;
	border-top: 0px solid black;
}

#accord_first:checked + li {
	/*background-color: red;*/
	height: 100%;
	padding: 1em;
	border-top: 1px solid black;
	transition: all .5s ease;
}

#accord_second + li {
	height: 0;
	overflow: hidden;
	transition: all .5s ease;
	padding: 0;
	border-top: 0px solid black;
}

#accord_second:checked + li {
	/*background-color: blue;*/
	height: 100%;
	padding: 1em;
	border-top: 1px solid black;
	transition: all .5s ease;
}

#accord_third + li {
	height: 0;
	overflow: hidden;
	transition: all .5s ease;
	padding: 0;
	border-top: 0px solid black;
}

#accord_third:checked + li {
	/*background-color: blue;*/
	height: 100%;
	padding: 1em;
	border-top: 1px solid black;
	transition: all .5s ease;
}

#accord_fourth + li {
	height: 0;
	overflow: hidden;
	transition: all .5s ease;
	padding: 0;
	border-top: 0px solid black;
	border-bottom: 1px solid black;
}

#accord_fourth:checked + li {
	/*background-color: blue;*/
	height: 100%;
	padding: 1em;
	border-top: 1px solid black;
	transition: all .5s ease;
}
