/** General Styles **/

body {
	margin: .7em;
}

h1 + p {
	color: darkgrey;
	font-style: italic;
}

/** Collapsible Styles **/

input[type="radio"] {
	display: none;
}

.accordion {
	list-style: none;
	max-width: 24em;
}

.accordion li {
	border: 1px solid black;
	border-bottom: none;
	padding: 1em;
}

#accord_first + li {
	height: 0;
	overflow: hidden;
	transition: all .5s ease;
	padding: 0;
	border-top: 0px solid black;
}

#accord_first:checked + li {
	/*background-color: red;*/
	height: 100%;
	padding: 1em;
	border-top: 1px solid black;
	transition: all .5s ease;
}

#accord_second + li {
	height: 0;
	overflow: hidden;
	transition: all .5s ease;
	padding: 0;
	border-top: 0px solid black;
}

#accord_second:checked + li {
	/*background-color: blue;*/
	height: 100%;
	padding: 1em;
	border-top: 1px solid black;
	transition: all .5s ease;
}

#accord_third + li {
	height: 0;
	overflow: hidden;
	transition: all .5s ease;
	padding: 0;
	border-top: 0px solid black;
}

#accord_third:checked + li {
	/*background-color: blue;*/
	height: 100%;
	padding: 1em;
	border-top: 1px solid black;
	transition: all .5s ease;
}

#accord_fourth + li {
	height: 0;
	overflow: hidden;
	transition: all .5s ease;
	padding: 0;
	border-top: 0px solid black;
	border-bottom: 1px solid black;
}

#accord_fourth:checked + li {
	/*background-color: blue;*/
	height: 100%;
	padding: 1em;
	border-top: 1px solid black;
	transition: all .5s ease;
}


/* Dropdown */
.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-menu-content li {
	list-style: none;
}

.dropdown-menu-content {
	position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: visibility .5s;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    pointer-events: none;
}

.dropdown-menu-content li {
	/*pointer-events: auto;*/
}

#dropdown-button:focus{
	outline: none;
}

#dropdown-button:focus + .dropdown-menu-content {
	opacity: 1;
    visibility: visible;
    width: 150px;
    background: white;
    transition: all .8s ease;
    box-shadow: 2px 2px 2px 2px #ccc;
}
